// Include Windows resource definitions
#include <windows.h>

// Application icon with lowest ID value placed first to ensure it's the default
IDI_ICON1 ICON "app.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0x3fL
FILEFLAGS       0x0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Friendly Fire Studios"
            VALUE "FileDescription",  "Unreal Engine Make Installed Build Tool"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "MakeInstalledBuild"
            VALUE "LegalCopyright",   "Copyright (C) 2025 Friendly Fire Studios"
            VALUE "OriginalFilename", "MakeInstalledBuild.exe"
            VALUE "ProductName",      "Make Installed Build"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END